<form style="margin: 20%">
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required #email>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required #password>
  </div>
  <button type="submit" class="btn btn-primary" (click) = "login(email, password)">Login</button>
  <hr>
  <button type="submit" class="btn btn-primary" routerLink='/signin'>Register</button>
</form>


