<!--     <ul class="nav justify-content-end" *ngIf='!userIsAuthenticated'>
      <li class="nav-item">
        <a class="nav-link" routerLink='/signin'>Sign in</a>
      </li>
    </ul> -->

    <nav class="navbar navbar-light bg-light">
        <h1>Employee tracker</h1>
      </nav>



 