<form style="margin: 20%">
    <div class="form-group">
        <input type="input" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" required #name>
    </div>
    <div class="form-group">
        <input type="input" class="form-control" id="exampleInputPassword1" placeholder="Password" required #surName>
    </div>
    <div class="form-group">
        <input type="input" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required #mail>
    </div>
    <div class="form-group">
        <input type="input" class="form-control" id="exampleInputPassword1" placeholder="Password" required #phone>
    </div>
    <button type="submit" class="btn btn-primary" (click)="click(name, surName, mail, phone)">Add employee</button>
</form>


