<!-- <h1>Sign in</h1>
<input placeholder='enter email' required #email>
<input placeholder='enter password' required #password>
<button (click) = "onSignup(email, password)">Sign in</button> -->

<form style="margin: 20%">
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Company" required #company>
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required #email>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required #password>
  </div>
  <button type="submit" class="btn btn-primary" (click)='onSignup(company, email, password)'>Register</button>
</form>
      
      
      
