
  <nav class="navbar navbar- bg-primary">
      <h1>{{ company }}</h1>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" style='margin-left: 25;' placeholder="Search" aria-label="Search" #term required>
      <button class="btn btn btn-light my-2 my-sm-0" type="submit" (click)='search(term)'>Search</button>
      <button class="btn btn btn-light my-2 my-sm-0" style='margin-left: 25;' type="submit" (click)='logOut()'>Log Out</button>
    </form>
  </nav>
<!--     <table *ngIf='token'>
      <thead>
        <tr>
          <th (click) = "sortByName()">Name</th>
          <th (click) = "sortByName()">Surname</th>
          <th (click) = "sortByName()">mail</th>
          <th (click) = "sortByName()">phone</th>
        </tr>
      </thead>
        <tr *ngFor = "let cat of list" >
          <td #name contenteditable = "true"> {{ cat.name }} </td>
          <td #surName contenteditable>  {{ cat.surName }}</td>
          <td #mail contenteditable = "true"> {{ cat.mail }} </td>
          <td #phone contenteditable = "true"> {{ cat.phone }} </td>
          <button (click) = "edit(cat._id, name, surName, mail, phone)">edit</button>
          <button (click) = "delete(cat._id)">delete</button>
        </tr>
    </table> -->

    <table class="table table-striped">
      <thead>
        <tr>
          <th>employee ID</th>
          <th (click) = "sortByName()">name</th>
          <th (click) = "sortByName()">surname</th>
          <th>mail</th>
          <th>phone</th>
        </tr>
      </thead>
      <tr *ngFor = "let cat of list" >
        <td #id> {{ cat._id }}</td>
        <td #term contenteditable = "true"> {{ cat.name }} </td>
        <td #surName contenteditable = "true"> {{ cat.surName }}</td>
        <td #mail contenteditable = "true"> {{ cat.mail }} </td>
        <td #phone contenteditable = "true"> {{ cat.phone }} </td>
        <td>
        <button class = "btn btn-outline-dark  mr-sm-2" (click) = "edit(cat._id, term,surName, mail, phone)">edit</button>
        <button class="btn btn-danger mr-sm-2" (click) = "delete(cat._id)">delete</button>
        </td>
      </tr>
      <tr>
        <td>
          <button routerLink='/new' class="btn btn-outline-dark  mr-sm-2" >Add employee</button>
          <button class="btn btn-outline-dark  mr-sm-2" (click)='refresh()'>Refresh</button>
        </td>
      </tr>
    </table>







